.container {
  width: 100%;
  border-radius: var(--mantine-radius-md);
  min-height: 62px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: background-color 0.3s ease;

  @mixin hover {
    cursor: text;
    background-color: var(--mantine-color-brand-light);

    &[aria-inavlid="true"] {
      background-color: var(--mantine-color-red-1);
    }
  }

  h2 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &[data-error="true"] {
    border: 1px solid var(--mantine-color-error);
    background-color: var(--mantine-color-red-0);
    color: var(--mantine-color-error);
  }
}

.textInput {
  width: 100%;
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-brand-light);

  &[aria-invalid="true"] {
    border: 1px solid var(--mantine-color-error);
    background-color: var(--mantine-color-red-0);
    color: var(--mantine-color-error);
  }

  &[aria-invalid="true"] {
    input::placeholder {
      color: var(--mantine-color-red-3);
    }
  }
}
