.form {
    width: 100%;
    padding: 0 var(--mantine-spacing-sm);
}

.container {
    width: 100%;
    border-radius: var(--mantine-radius-md);
    min-height: 60px;
    margin: 0 var(--mantine-spacing-sm);
    padding: 0 var(--mantine-spacing-sm);
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: background-color 0.3s ease;

    @mixin hover {
        cursor: text;
        background-color: var(--mantine-color-brand-light);
    }

    h2 {
        text-overflow: ellipsis;
        overflow: hidden;
    }


}

.textInput {
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-brand-light);
}