.container {
  z-index: 10;
  margin-top: -50px;
  margin-left: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;

  @mixin hover {
    .iconImageButton {
      background-color: light-dark(var(--mantine-color-brand-1), var(--mantine-color-brand-light-hover));
    }

    .imageBg {
      opacity: 0.4;
    }
  }
}

.iconImageButton {
  width: 100%;
  height: 100%;
  background-color: var(--mantine-color-brand-light);
  border-radius: var(--mantine-radius-md);
  transition: background-color 0.3s ease;
}

.imageBg {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.animatedHover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  transition: background-color 0.3s ease;
}
